<!DOCTYPE html>
<html>
    <body>
        <p>Select your favourite language:</p>
        <form action="https://harmash.com/html/html-radio-buttons/view-selected-value.php" method="post">
			
		
			<input type="radio" id="ar" name="language" value="arabic">
			<label for="ar">Arabic</label><br>

			<input type="radio" id="en" name="language" value="english">
			<label for="en">English</label><br>

			<input type="radio" id="fr" name="language" value="french">
			<label for="fr">French</label><br><br>

            <input type="submit">
        </form>
    </body>
</html>